.container.about {
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  height: 300px;
}
.right {
  flex: 1;
  padding: 0 20px;
}

@media all and (max-width: 1024px) {
  .container{ 
    flex-direction: column;
  }
  .right {
    flex: 1;
    padding: 20px 0;
  }
}