.container.home {
  display: flex;
  flex-direction: column;
  max-width: none !important;
  padding: 0 !important;
}



@media all and (max-width: 1024px) {
  .container{ 
    flex-direction: column;
  }
  .right {
    flex: 1;
    padding: 20px 0;
  }
}