.footer-wrapper {
 width: 100%;
 clear: both;
    position: relative;
}
.head-container {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  padding: 2rem 0;
}
.social-link {

}
.social-icon {
  width: 50px;
  height: 40px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #012647;
  padding: 30px 18rem;
}
.menu-list {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-items {  
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  align-items: flex-start;
}
.list-title {
  color: #FFF;
  margin-bottom: 10px;
}
.list-item {
  text-align: left;
}
.list-item span {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.list-item  a{
  color: #FFF;
  font-size: 13px;
}
.list-item a:hover {
  text-decoration: none;
  color: #d4af37;
}
.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #000;
  padding: 0 18rem;
}
.foot-container span {
  flex: 1;
  text-align: left;
  color: #727272;
}
.foot-container .social-list {
  display: flex;
  align-items: flex-end;
  list-style: none;
}
.social-list .social-list-item {
  padding: 15px;
}

.social-list .social-list-item i {
  color: #FFF;
}
.social-list .social-list-item:hover {
  background: #CCC;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .content {
    padding: 30px 3rem;
  }
  .foot-container {
    padding: 0 2rem;
  }
}

@media all and (max-width: 799px) {
  .content {
    padding: 20px;
    flex-direction: column;
  }
}